<footer>
  <p>Good stuff is coming!</p>
  <p>Join the discussion on <a href="https://gitter.im/rejectbbi/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link">Gitter</a></p>  
</footer>