  <header class="header">
    <p class="header-title"><a href="/">RejectBBI.org</a></p>

    <nav class="nav"> 
      <ul class="nav-list">
        <li><a href="/posts">Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="mailto:info@rejectbbi.org">Contact us</a></li>
      </ul>
    </nav>
  </header>