<!DOCTYPE html>
<html lang="en">
<head>  
  {% include head-content.liquid %}
  <link rel="stylesheet" href="/css/pages/post.css">
</head>
<body>
  {% include header.liquid %}

  <main class="main">
    <h1>{{ title }}</h1>

    {% if author -%}
      <h5>By {{ author }}</h5>
    {%- endif -%}

    {{ content }}

  </main>
</body>
</html>