<!DOCTYPE html>
<html lang="en">
<head>  
  {% include head-content.liquid %}
  <link rel="stylesheet" href="/css/pages/post.css">
</head>
<body> 
  {% include header.liquid %}

  <main class="main">
    <h1>{{ title }}</h1>

    {% if author -%}
      <h5 class="post-author">By {{ author }}</h5>
    {%- endif -%}

    {{ content }}

  </main>

  {% include footer.liquid %}

</body>
</html>