@import "../config.css";
@import "../generic.css";
@import "../elements/elements.css";
@import "../objects.css";

@import "../components/header.css";

@import "../trumps.css";

.post-list {
  list-style-type: none;
  padding-left: var(--space-sm);
}

.postitem-heading {
  margin-bottom: var(--space-xs);
  font-weight: bolder;
  color: var(--black);
}

.postitem-extract {
  margin-bottom: var(--space-xs);
}

.postitem-author {
  margin-right: var(--space-xs);
  color: var(--gray);
  font-size: var(--text-sm);
  font-weight: bold;
}

.postitem-link {
  text-decoration: none;
}