/* hacks */

/* push footer to bottom */

body {
  min-height: 100vh;
  /* fix mobile 100vh */
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

html {
  /* fix mobile 100vh */
  height: -webkit-fill-available;
}

.main {
  flex-grow: 2;
}