---
title: Oops! Not Found
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head-content.liquid %}
  <link rel="stylesheet" href="/css/pages/404.css">
</head>
<body>
  {% include header.liquid %}

  <main class="main">
    <h1>Oops, error 404</h1>
    <p>Sorry we could not find that page. Please try going <a href="/">home</a></p>
  </main>

  <!-- <a target="_blank" href="https://icons8.com/icons/set/clenched-fist">Clenched Fist icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
</body>
</html>