<!DOCTYPE html>
<html lang="en">
<head>
  {% include head-content.liquid %}
  <link rel="stylesheet" href="/css/pages/about.css">
</head>
<body>
  {% include header.liquid %}

  <main class="main">
    <h1>About us</h1>
    
    <p>We're championing against BBI. Join us to #RejectBBI.</p>
  </main>

  <!-- <a target="_blank" href="https://icons8.com/icons/set/clenched-fist">Clenched Fist icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
</body>
</html>