<!DOCTYPE html>
<html lang="en">
<head>
  {% include head-content.liquid %}
  <link rel="stylesheet" href="/css/pages/index.css">
</head>
<body>
  {% include header.liquid %}

  <main class="main">
    <h1>#RejectBBI</h1>
  </main>

  <footer><p>Good stuff is coming!</p></footer>

  <!-- <a target="_blank" href="https://icons8.com/icons/set/clenched-fist">Clenched Fist icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>